.Header {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  height: 35%;
}

.btn-primary {
  margin-top: 55px;
}

p {
  text-align: center;
  margin: 0 auto;
  padding: 5px 30px 30px 30px;
  width: 100%;
  position: relative;
  right: 80px;
}

img {
  height: 150px;
  display: block;
  margin: 0 auto;
  position: relative;
  right: 80px;
}
