.Header {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
}
.btn btn-primary {
  color: red;
}
p {
  text-align: center;
  margin: 0 auto;
  padding: 5px 30px 30px 30px;
}

img {
  height: 180px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
